
header {
    height: pxToRem(214);
    h1 {
        font-size: pxToRem(86);
        margin-left: pxToRem(50);
    }
    h2 {
        font-size: pxToRem(48);
        margin-top: pxToRem(-80);
        margin-right: pxToRem(50);
    }
    .header-nav {
        gap: 0;
        #his-hers {
            li {
                a {
                    font-size: pxToRem(36);
                }
            }
        }
    }
    nav {
        ul {
            a {
                font-size: pxToRem(24);
            }
        }
    }
}

main {
    article {
        height: pxToRem(530);
        h3 {
            left: 5rem;
            top: 1.8rem;
            font-size: pxToRem(24);
            #collection {
            }
        }
        .images-and-text-fp {
            gap: 1.5rem;
            margin-top: pxToRem(85);
            img {
                width: pxToRem(213.32);
                height: pxToRem(327.4);
            }
            p {
                width: pxToRem(292);
                font-size: pxToRem(16);
                margin: -3rem 0 0 0;
            }
        }
        button {
            left: 3rem;
        }
        .primary-button {
            bottom: 8rem;
        }
        .secondary-button {
            bottom: 3rem;
        }
    }
    .brand-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;
        background: linear-gradient(185deg, #FFFFFF -36.64%, #FFFFFF 37.9%, #FCFF5C 37.9%, #FCFF5C 91.11%);
        p {
            text-align: center;
            font-weight: 600;
            margin: 2rem 4.6rem 0 4.6rem;
        }
        h4 {
            margin-top: 5rem;
        }
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap:120px; 
            row-gap: 1rem;
            width: 60vw;
            margin-top: -2rem;
            li {
                img {
                    width: pxToRem(124);
                    height: pxToRem(124);
                }
            }
        }
    }
}

footer {
    gap: 20vw;
    height: 15vh;
    section {
        h5 {
            font-size: pxToRem(24);
        }
        div {
            height:50%;
            gap: 0;
            svg{
                transform: scale(50%);
                margin: 0;
            }
        }
    }
    ul {
        gap: 1rem;
        li {
            a {
                font-size: pxToRem(16);
            }
        }
    }
}
#cookies {
    height: pxToRem(288);
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    p {
        margin: 2rem 0.5rem 0rem 1rem;
    }
    button {
        align-self: center;
    }
}