
//Variables
//Colors
$yellow: #fcff5c;
$maingray: #242b36;
$red: #cb1838;
$black: #16191e;
$orange: #fdcd51;
//Fonts
$Insolata: "Inconsolata", monospace;
$Inter: "Inter", sans-serif;

//Standard styles
body {
    background-color: $maingray;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    letter-spacing: 0.04em;
}
@import "_normalize";
@import "graphic-profile-standards";
@import "_base";

@media screen and (min-width: 1200px) {
    @import "_desktop";
}
